body{
    background-color: lightskyblue;
}
nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li{
    display: inline-block;
    padding: 5px;
    border: 2px solid;
    color: cornflowerblue;
    border-radius: 25px;
    background-color: aliceblue;
    padding: 10px;
}
li:hover{
    background-color: lightsalmon
}
a{
    color: cornflowerblue;
}
a:visited{
    color: violet;
}